.homepageHeader {
    height: 60vh;

}

.logo {
    height: 10rem;
    width: 10rem;
    position: relative;
}

.logo::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
            to left,
            #ff5770,
            #e4428d,
            #c42da8,
            #9e16c3,
            #6501de,
            #9e16c3,
            #c42da8,
            #e4428d,
            #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 5s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
