.heroContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: unset;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5rem;
}

.heroSubtitle {
  width: 30rem;
}

@media screen and (max-width: 996px) {
  .heroContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .contentContainer {
    align-items: center;
    margin-right: unset;
  }

  .heroSubtitle {
    padding: 0 1rem;
    width: auto;
    text-align: center;
  }
}

.typeAnimation {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--logo-bg-gradien-end);
  margin-bottom: 1.5rem;

  background: -webkit-linear-gradient(left, var(--logo-bg-gradien-start), var(--logo-bg-gradien-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typeAnimation::after {
  content: '|';
  -webkit-text-fill-color: var(--logo-bg-gradien-end);
}

.logoContainer {
  position: relative;
  width: 128px;
}

.logoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /*background: linear-gradient(-45deg, var(--logo-bg-gradien-start) 50%, var(--logo-bg-gradien-end) 50%);*/
  background: linear-gradient(125deg, rgba(241, 69, 132, 1) 31%, rgba(0, 212, 255, 0.7) 77%);
  animation: LogoBGAnimation 5s ease-out infinite;
  filter: blur(50px) saturate(150%);
}

.logoBackgroundUkraine {
  background: linear-gradient(180deg, rgb(0, 91, 187) 31%, rgb(255, 213, 0) 77%);
}

@keyframes LogoBGAnimation {
  0%{filter: blur(50px) saturate(150%)}
  50%{filter: blur(40px) saturate(200%)}
  100%{filter: blur(50px) saturate(150%)}
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}


.logo {
  position: relative;
  width: 128px;
}

.card {
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 1.5px 3px 0 rgba(0,0,0,.15);
}

